:root.theme-dark {
  --bg-color: #000028;
  --main-title-color: #db00ff;
  --main-title-shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --border-coner-color: #ff0070;
  --title-decor-bg: #ff0070;
  --section-title: #ff0070;
  --link-shadow-color: #ff0070;
  --menu-color: rgb(255 0 112);
  --hover-border-menu-color: rgb(255 0 112 / 40%);
  --title-decor-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__decor {
  display: flex;
}