:root.theme-light {
  --bg-color: #fff1f7;
  --main-title-color: #ffc2e6;
  --main-title-shadow-color: #ff8dcb;
  --text-color: #353430;
  --accent-color: #ff0070;
  --title-decor-bg: #ff8dcb;
  --title-decor-color: #353430;
  --section-title: #353430;
  --border-coner-color: #353430;
  --menu-color: rgb(53 52 48);
  --hover-border-menu-color: rgb(53 52 48 / 40%);
  --link-shadow-color: #ff8dcb;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__decor {
  display: none;
}

@media (width >= 1024px) {
  :root.theme-light {
    --main-title-shadow-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --main-title-color: #ffc2e6;
    --main-title-shadow-color: #ff8dcb;
    --text-color: #353430;
    --accent-color: #ff0070;
    --title-decor-bg: #ff8dcb;
    --title-decor-color: #353430;
    --section-title: #353430;
    --border-coner-color: #353430;
    --menu-color: rgb(53 52 48);
    --hover-border-menu-color: rgb(53 52 48 / 40%);
    --link-shadow-color: #ff8dcb;
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__decor {
    display: none;
  }

  @media (width >= 1024px) {
    :root {
      --main-title-shadow-color: #ff0070;
    }
  }
}
